// Variables

// Primer esquema de colores
$mayonnaise: #f4eed6;
$mustard: #e8c858;
$ketchup: #e91d1d;
$avocado: #57e727;

// Segundo esquema de colores
$dark: #373737;
$gray: #909090;
$light-gray: #d6d6d6;
$white: #ffffff;

// Tamaño de fuentes
$h1-size: 64px;
$h2-size: 48px;
$h3-size: 38px;
$h4-size: 28px;
$h5-size: 20px;
$h6-size: 12px;
$p-size: 18px;
$pd-size: 16px;
$a-size: 16px;
$li-size: 16px;

// peso de fuentes
$light: 300;
$regular: 400;
$bold: 600;

