.title {
    margin-bottom: 100px;
    text-align: center;
}
.definicion {
    max-height: 500px;
    width: 100%;
}
.sectxt {
    margin: 150px auto 150px auto;
    text-align: center;
    h4 {
        margin: 50px 0px;
        line-height: 33px;
    }
    img {
        object-fit: cover;
    }
}

.secimgleft, .secimgright {
    margin: 80px auto;
    .imgL, .imgR {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    img, video {
        width: 100%;
        max-height: 350px;
        object-fit: cover;
    }
    
}
.secimgleft .img-txt{
    @media only screen and (min-width: 992px){
        margin: auto 10px auto 60px;
        text-align: justify;
    }
    margin: auto 10px auto 10px;
    text-align: justify;
    
}
.secimgright .img-txt{
    @media only screen and (min-width: 992px){
        margin: auto 60px auto 10px;
        text-align: justify;
    }
    margin: auto 10px auto 10px;
    text-align: justify;
}

.fabricacion {
    video {
        margin: 0 auto;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        object-position: center;
    }
}

.toolkit-sec {
    margin-top: 200px;
    .row {
        margin-bottom: 50px;
        transition: all .15s ease-in-out;
        -webkit-box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.05); 
        box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.05);
        &:hover{
            -webkit-box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.2); 
            box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.2);
            transition: all .15s ease-in-out;
        }
    }
   
    .toolkit-txt{
        padding: 15px 10px;
        max-height: 300px;
        background-color: $white;
        text-align: right;
        vertical-align: middle;
    }
    .gradiante {
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, rgba(256, 256, 256, 1), rgba(256, 256, 256, 0));
    }
    .toolkik-img1, .toolkik-img2, .toolkik-img3, .toolkik-img4 {
        background-size: 100%;
        background-position: right;
        height: 300px;
        display: flexbox;
        box-sizing: content-box;
    }
    .toolkik-img1 {
        background-image: url(../img/img-toolkit-biomaterial.JPG);
    }
    .toolkik-img2 {
        background-image: url(../img/img-toolkit-fabricaciondigital.JPG);        
    }
    .toolkik-img3 {
        background-image: url(../img/img-toolkit-electronica.JPG);
    }
    .toolkik-img4 {
        background-image: url(../img/img-toolkit-integración.JPG);
    }

    a {
        color: $avocado;
        transition: all .2s ease-in-out;
        &:hover {
            color: $mustard;
            transition: all .2s ease-in-out;
        }
    }

}