.sectxt {
    margin: 150px auto 200px auto;
    text-align: center;
    h4 {
        margin: 50px 150px;
        line-height: 33px;
    }
}

.secimgleft, .secimgright {
    margin: 80px auto;
    img {
        width: 100%;
        max-height: 350px;
        object-fit: cover;
    }
    
}
.secimgleft p{
    margin: auto 0 auto 60px;
    text-align: justify;
}
.secimgright p{
    margin: auto 60px auto 0;
    text-align: justify;
}

.toolkit-sec {
    margin-top: 200px;
    .row {
        margin-bottom: 50px;
        transition: all .15s ease-in-out;
        -webkit-box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.05); 
        box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.05);
        &:hover{
            -webkit-box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.2); 
            box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.2);
            transition: all .15s ease-in-out;
        }
    }
    .toolkit-txt{
        padding: 50px 0;
        background-color: $white;
    }
    .gradiante {
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, rgba(256, 256, 256, 1), rgba(256, 256, 256, 0));
    }
    .toolkik-img1, .toolkik-img2, .toolkik-img3, .toolkik-img4 {
        background-size: 100%;
        background-position: right;
    }
    .toolkik-img1 {
        background-image: url(../img/toolkit-biomaterial.JPG);
    }
    .toolkik-img2 {
        background-image: url(../img/toolkit-fabricaciondigital.JPG);        
    }
    .toolkik-img3 {
        background-image: url(../img/toolkit-electronica.JPG);
    }
    .toolkik-img4 {
        background-image: url(../img/toolkit-integración.JPG);
    }

    a {
        color: $avocado;
        transition: all .2s ease-in-out;
        &:hover {
            color: $mustard;
            transition: all .2s ease-in-out;
        }
    }

}